.content{

}

header{
  background-color:#000000;
  color:#FFFFFF;
  width:100%;
  height:40px;
  position:relative;
}
.span{
  color:#FFFFFF;
}

.title{
  position:absolute;
  top:10%;
  left:20%;
  color:#F4F5FA;
}

}
.box{
  width:100%;
  justify-content: space-between
  padding:40px;
}
span{
  color:##99CC33;
}
.img{
  display: block;
  text-align: center;
  width:100%;
}

.box img{
  height:100px;
  margin:auto;
  margin-top:20px;
}
.block{
  display:block;
  text-align: center;
  width:50%;
  float:left;
}
p{
  top:10%;
}
.menuButton{
  display:block;
  position:absolute;
  height:10px;
  width:60px;
  background:#000000;
  position:absolute;
  top:20px;
  right:80px;
  float:right;

}
.menuButton div{
  height:6px;
  width: 50px;
  background:#707070;
  position:absolute;
  float:right;
  top:2px;
  left:120px;
  transform: translate(-50%,-50%);
  transition: .3s;
}

.menuButton div:nth-of-type(1){
   transform: translate(-50%,-15px);
}
.menuButton div:nth-of-type(3){
  transform:translate(-50%, 15px);
}
.menuButton.active div:nth-of-type(1){
  transform: rotate(45deg) translate(-50%,0);
  transform-origin:0% 50%;
}
.menuButton.active div:nth-of-type(2){
  opacity: 0;
}
.menuButton.active div:nth-of-type(3){
  transform:rotate(-45deg) translate(-50%,0px);
  transform-origin:0% 50%;
}
.swiper-container img{
  

}

nav{
  background:#0bd;
  position:absolute;
  z-index:1;
  top:3.0rem;
  right:0;
  overflow-x:hidden;
  text-align:center;
  transition:.5s;
  width:0;
}
nav.active{
  opacity:1;
  width:100%;
  right:5px;
}
</style>
